@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*----------------Colors------------------*/
$NAV-BG: #000000;
$bg-black: #000000;
$bg-light: white;
$text-black: black;
$text-light: white;
$button-bg: rgb(111, 54, 255);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: $bg-black;
    color: $text-light;
}

/*------------------Navbar--------------------------*/
.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: $NAV-BG;
    padding-inline-start: 40px;
    padding-inline-end: 40px;

    .humburger-icon {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        position: relative;
        background-color: $button-bg;
        position: fixed;
        &::before {
            content: '';
            border-bottom: 1px solid white;
            width: 22px;
            position: absolute;
            top: 10px;
            margin-left: 10px;
        }

        &::after {
            content: '';
            position: absolute;
            border-bottom: 1px solid white;
            border-top:1px solid white ;
            width: 15px;
            height: 10px;
            top: 20px;
            margin-left: 13px;
        }
    }

    #logo {
        font-family: sans-serif;
        font-size: 3rem;
        width: 100px;
        height: 50px;
    }

    .nav-links-box {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;


        text-align: center;

        li {
            list-style: none;
            width: 50px;

        }

        a {
            text-decoration: none;
            font-size: medium;
            padding: 8px;
            color: $text-light;
        }

        a:hover {
            color: $text-light;
            // background-color: $button-bg;
            padding: 8px;
            border-radius: 50px;
            animation: bg-slider 1s ease-in;
        }

        @keyframes bg-slider {
            0% {
                transform: translateX(-100%);
                // background: $bg-light;
            }

            100% {
                transform: translateX(0);
                // background-color: $button-bg;
                // color: $text-light;
            }
        }

    }

}

/* Main Section */
.main-wrapper {
    .hero {
        height: 600px;
        margin-left: 20px;
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: column;
        text-align: left;
        

        & :is(h1, h2) {
            font-family: "Comfortaa", sans-serif;
            text-align: left;
            font-size: 10rem;
            font-weight: 100;

        }
    }
}


/* Buttons */
.primary-btn {
    background-color: $button-bg;
    border: none;
    color: $text-black;
    width: 100px;
    height: 30px;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
}

.outline-btn {
    // border: 1px solid $button-bg;
    // color: $text-light;
    width: 100px;
    height: 30px;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
}