@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*----------------Colors------------------*/
$NAV-BG: #000000;
$bg-black: #000000;
$bg-light: white;
$text-black: black;
$text-light: white;
$button-bg: rgb(111, 54, 255);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: $bg-black;
    color: $text-light;
}

/*------------------Navbar--------------------------*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: $NAV-BG;

    padding-inline-start: 40px;
    padding-inline-end: 40px;


    #logo {
        font-family: sans-serif;
        font-size: 3rem;
        width: 100px;
        height: 50px;
    }

    nav ul {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;


        text-align: center;

        li {
            list-style: none;
            width: 50px;

        }

        a {
            text-decoration: none;
            font-size: medium;
            padding: 8px;
            color: $text-light;
        }

        a:hover {
            // color: $text-light;
            // background-color: $button-bg;
            padding: 8px;
            border-radius: 50px;
            animation: bg-slider 1s ease-in;
        }

        @keyframes bg-slider {
            0% {
                transform: translateX(-100%);
                // background: $bg-light;
            }

            100% {
                transform: translateX(0);
                // background-color: $button-bg;
                // color: $text-light;
            }
        }

    }

}

/* Main Section */
.main-wrapper {
    .hero {
        height: 600px;
        // margin-left: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        .col-1 {
            letter-spacing: normal;
            line-height: normal;


            :is(h1, h2) {
                font-family: "Comfortaa", sans-serif;
                justify-self: flex-end;
               

            }

            & h1 {
                font-size: 4rem;
                width: 100px;
                padding-top: 80px;
                p {
                    font-size: 20rem;
                    color: #c8ff00;
                    font-weight: 600;
                    font-family: "Montserrat", sans-serif;
                }
            }

            
        }

        .col-2 {
            p {
                font-size: 42rem;
                color: #c8ff00;
                font-weight: bold;
                font-family: 'Rubik';
            }
        }



    }
}


/* Buttons */
.primary-btn {
    background-color: $button-bg;
    border: none;
    color: $text-black;
    width: 100px;
    height: 30px;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
}

.outline-btn {
    // border: 1px solid $button-bg;
    // color: $text-light;
    width: 100px;
    height: 30px;
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
}