@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/*----------------Colors------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #000000;
  color: white;
}

/*------------------Navbar--------------------------*/
.nav-wrapper {
  width: 100%;
  height: 60px;
  background-color: #000000;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}
.nav-wrapper .humburger-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px;
}
.nav-wrapper .humburger-icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-top: 10px;
  position: relative;
  background-color: rgb(111, 54, 255);
  position: fixed;
  cursor: pointer;
}
.nav-wrapper .humburger-icon:hover {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nav-wrapper .humburger-icon::before {
  content: "";
  border-bottom: 1px solid white;
  width: 22px;
  position: absolute;
  top: 10px;
  margin-left: 10px;
}
.nav-wrapper .humburger-icon::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 15px;
  height: 10px;
  top: 20px;
  margin-left: 13px;
}
.nav-wrapper .nav-links-box {
  display: none;
  position: absolute;
  top: 9.5px;
  right: 70px;
  background-color: rgb(111, 54, 255);
  height: 40px;
  width: 400px;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  animation: rl-move 1s ease;
}
@keyframes rl-move {
  from {
    transition: width;
    width: 0px;
  }
  to {
    transition: width;
    width: 400px;
  }
}
.nav-wrapper nav ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.nav-wrapper nav ul li {
  list-style: none;
  width: 50px;
  padding-top: 10px;
  padding-inline-start: 15px;
}
.nav-wrapper nav ul a {
  text-decoration: none;
  font-size: medium;
  color: white;
}
.nav-wrapper nav ul a:hover {
  color: white;
  border-radius: 50px;
  animation: bg-slider 1s ease-in;
}
@keyframes bg-slider {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Main Section */
.main-wrapper .hero {
  height: 600px;
  margin-left: 20px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  text-align: left;
}
.main-wrapper .hero :is(h1, h2) {
  font-family: "Comfortaa", sans-serif;
  text-align: left;
  font-size: 10rem;
  font-weight: 100;
}
.main-wrapper .hero .col-1::first-letter, .main-wrapper .hero .col-2::first-letter {
  color: rgb(111, 54, 255);
}
.main-wrapper .hero .col-3 :is(h2):first-letter {
  color: rgb(111, 54, 255);
}
.main-wrapper .hero .col-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-wrapper .hero .col-3 i {
  rotate: 270deg;
  font-size: 1.5rem;
}
.main-wrapper .hero .col-3 .move-down {
  rotate: 90deg;
  background: none;
  color: white;
  border: none;
}
.main-wrapper .hero .col-3 .move-down i {
  font-size: 2rem;
  cursor: pointer;
  animation: beat 3s linear infinite;
}
@keyframes beat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
    color: rgb(111, 54, 255);
  }
  100% {
    transform: translateY(0);
  }
}

/* Buttons */
.primary-btn {
  background-color: rgb(111, 54, 255);
  border: none;
  color: black;
  width: 100px;
  height: 30px;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}

.outline-btn {
  border: 1px solid rgb(111, 54, 255);
  color: white;
  background: none;
  width: 100px;
  height: 30px;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}

.outline-btn-hire {
  height: 30px;
  width: 150PX;
  border-radius: 50px;
  padding: 8px;
  margin-inline-end: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}/*# sourceMappingURL=input.css.map */